android/local.properties
android/.gradle/
android/app/build/
android/.idea/
lib/android/build/
node_modules/**/build/
node_modules/.cache/@babel/register/
node_modules/react-native/node_modules/.cache/@babel/register/
!node_modules/jest-haste-map/build/
!node_modules/jest-worker/build/
!node_modules/jest-serializer/build/
!node_modules/jest-react-native/build/
!node_modules/jest-docblock/build/
!node_modules/react-devtools-core/build/
!node_modules/d3-scale/build/
!node_modules/d3-interpolate-path/build/
*.iml
src/NET